<%- include("partials/header") %>
<section id="content">
    <h1 style="text-align: center; color: black;">Welcome!</h1>
    <div class="row buttons">
        <div class="col-lg-4 init">
          <a href="/purchase" style="text-decoration: none;"><button type="button" class="btn btn-outline-success btn-lg btn-block">Purchase</button></a>
          </div>
          <div class="col-lg-4 init">
            <button type="button" class="btn btn-outline-warning btn-lg btn-block">Sales</button>
          </div>
          <div class="col-lg-4 init">
            <button type="button" class="btn btn-outline-danger btn-lg btn-block">Delete</button>
          </div>
        </div>
    </div>
  </section>
  <%- include("partials/footer") %> 
